{% extends "todo/base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}Add Todo List{% endblock %}
{% block content %}

  <h2>添加任务列表</h2>

  <form action="" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_name">任务列表名</label>
      <input type="text" class="form-control" id="id_name" name="name" aria-describedby="inputNameHelp" placeholder="">
      <small id="inputNameHelp" class="form-text text-muted">请输入任务列表的全名</small>
    </div>
    <div class="form-group">
      <label for="id_group">要添加到的组</label>
      {{form.group}}
    </div>

    <button type="submit" class="btn btn-primary">添加</button>
  </form>
{% endblock %}